In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.preprocessing import *
from sklearn.model_selection import *
from sklearn.metrics import *

In [2]:
df = pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace = True)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
df.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [6]:
df.Gender.value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [7]:
df.Geography = df.Geography.replace("France","0",regex = True)
df.Geography = df.Geography.replace("Germany","1",regex = True)
df.Geography = df.Geography.replace("Spain","2",regex = True)

In [8]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,Female,42,2,0.00,1,1,1,101348.88,1
1,608,2,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,0,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,0,Female,39,1,0.00,2,0,0,93826.63,0
4,850,2,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df.Geography = df.Geography.astype(int)
df.Geography.value_counts()

0    5014
1    2509
2    2477
Name: Geography, dtype: int64

In [10]:
df.Gender = df.Gender.replace("Female","0",regex = True)
df.Gender = df.Gender.replace("Male","1",regex = True)
df.Gender = df.Gender.astype(int)

In [11]:
df.Gender.value_counts()

1    5457
0    4543
Name: Gender, dtype: int64

In [12]:
X = df.iloc[:,0:10]
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [13]:
y = df.iloc[:,-1]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [15]:
from tensorflow import *
from keras.models import *
from keras.layers import *
classifier = Sequential()

#classifier.add(Dense(activation ="relu",units = 6, kernel_initializer = "uniform",input_dim=10))
classifier.add(Dense(activation ="relu",units = 6,input_dim=10))
classifier.add(Dense(activation ="relu",units = 6))
classifier.add(Dense(activation ="sigmoid",units = 1))

In [16]:
classifier.compile(optimizer="adam",loss='binary_crossentropy',metrics = "accuracy")

In [17]:
classifier.fit(X_train,y_train,batch_size=10,epochs = 50)

Epoch 1/50
750/750 [==============================] - 4s 3ms/step - loss: 0.5102 - accuracy: 0.7927
Epoch 2/50
750/750 [==============================] - 2s 3ms/step - loss: 0.4830 - accuracy: 0.7935
Epoch 3/50
750/750 [==============================] - 2s 3ms/step - loss: 0.4598 - accuracy: 0.8005
Epoch 4/50
750/750 [==============================] - 2s 3ms/step - loss: 0.4317 - accuracy: 0.8153
Epoch 5/50
750/750 [==============================] - 2s 3ms/step - loss: 0.4075 - accuracy: 0.8213
Epoch 6/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3938 - accuracy: 0.8268
Epoch 7/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3863 - accuracy: 0.8324
Epoch 8/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3816 - accuracy: 0.8344
Epoch 9/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3793 - accuracy: 0.8361
Epoch 10/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3770 - accuracy: 0.8381
Epoch 11/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3749 - accuracy: 0.8364
Epoch 12/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3738 - accuracy: 0.8401
Epoch 13/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3727 - accuracy: 0.8413
Epoch 14/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3723 - accuracy: 0.8393
Epoch 15/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3721 - accuracy: 0.8399
Epoch 16/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3702 - accuracy: 0.8393
Epoch 17/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3700 - accuracy: 0.8408
Epoch 18/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3688 - accuracy: 0.8425
Epoch 19/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3692 - accuracy: 0.8427
Epoch 20/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3685 - accuracy: 0.8397
Epoch 21/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3682 - accuracy: 0.8428
Epoch 22/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3679 - accuracy: 0.8433
Epoch 23/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3669 - accuracy: 0.8428
Epoch 24/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3669 - accuracy: 0.8428
Epoch 25/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3663 - accuracy: 0.8424
Epoch 26/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3651 - accuracy: 0.8429
Epoch 27/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3651 - accuracy: 0.8427
Epoch 28/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3652 - accuracy: 0.8439
Epoch 29/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3632 - accuracy: 0.8461
Epoch 30/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3633 - accuracy: 0.8447
Epoch 31/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3644 - accuracy: 0.8464
Epoch 32/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3620 - accuracy: 0.8477
Epoch 33/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3621 - accuracy: 0.8487
Epoch 34/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3609 - accuracy: 0.8523
Epoch 35/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3607 - accuracy: 0.8501
Epoch 36/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3609 - accuracy: 0.8489
Epoch 37/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3611 - accuracy: 0.8508
Epoch 38/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3596 - accuracy: 0.8497
Epoch 39/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3598 - accuracy: 0.8509
Epoch 40/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3592 - accuracy: 0.8517
Epoch 41/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3584 - accuracy: 0.8509
Epoch 42/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3586 - accuracy: 0.8492
Epoch 43/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3582 - accuracy: 0.8511
Epoch 44/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3578 - accuracy: 0.8529
Epoch 45/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3572 - accuracy: 0.8507
Epoch 46/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3556 - accuracy: 0.8503
Epoch 47/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3571 - accuracy: 0.8513
Epoch 48/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3568 - accuracy: 0.8497
Epoch 49/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3564 - accuracy: 0.8519
Epoch 50/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3553 - accuracy: 0.8533

In [22]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred>0.5)

79/79 [==============================] - 0s 2ms/step

In [23]:
accuracy_score(y_pred,y_test)

0.8668